/*Navigation Bar*/
#judulHalaman {
    font-size: 1.3rem;
    color: #3C4043;
}

.navIcon {
    color: #3C4043;
}


/*Container*/
#containerCover {
    margin-top: 3rem;
}

.container {
    width: 70%;
}

#headingAtas, #headingBawah {
    margin: -1.5% 0;
}

#subtext {
    color: #8E8E8E;
    font-size: 1rem;
}

#headingAtas {
    font-size: 1.8rem;
    color: #8E8E8E;
    font-weight: lighter;
}

#headingBawah {
    color: #26A69A;
    font-size: 3rem;
    font-weight: bold;
}

hr {
    border: none;
    height: 1px;
    background-color: #c0c8c9;
    background-image: -webkit-linear-gradient(0deg, #fff, #c0c8c9, #fff);
    margin-top: 10px;
}


/*Kartu*/
.kartu {
    height: 14rem;
    padding: 0 !important;  
    border-radius: 5px;  
    box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
    margin-top: 1rem;
}

#kartu1 {
    border-top: 10px solid #2B6AE8;
}

#kartu2 {
    border-top: 10px solid #F95B5B;
}

#kartu3 {
    border-top: 10px solid #00D284;
}

#kartu4 {
    border-top: 10px solid #FFC400;
}


.kartu-atas {
    height: 50%;
    width: 100%;
    margin: 0;
}

.kartu-bawah {
    height: 50%;
    width: 100%;
    margin: 0;
}

.judulKartu {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0;
    position: relative;
    top: 4rem;
    color: #000000;
}

.kartu-icon-column {
    height: 100%;
    width: 100%;
}

.kartu-icon-container {
    height: 4rem;
    width: 4rem;
    border-radius: 100px;
    padding: 1rem;
}

#karcon1 {
    background-color: #2B6AE8;
}

#karcon2 {
    background-color: #F95B5B;
}

#karcon3 {
    background-color: #00D284;
}

#karcon4 {
    background-color: #FFC400;
}

.kartuDesc {
    margin: 0;
}




/*Swiper Container*/
.swiper-container {
    height: 100%;
    width: 100%;
}
